<view id="system-menu">
    <title>菜单管理</title>

    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
            <a lay-href="">系统管理</a>
            <a><cite>菜单管理</cite></a>
        </div>
    </div>


    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">所有菜单</li>
                </ul>
                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">
                        <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                            <button class="layui-btn layui-btn-primary layui-btn-sm create">新建菜单</button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm del">删除选中</button>

                        </div>

                        <table id="admin-menu-list" lay-filter="admin-menu-list" class="layui-table layui-form"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</view>


<script>
    layui.use(['admin', 'table', 'util', 'treeTable', 'form', 'hex'], function () {
        let $ = layui.$
            , treeTable = layui.treeTable
            , form = layui.form
            , hex = layui.hex
            , tableInstance;


        let modal = (values = {}) => {
            hex.popup("/system/menu/saveMenu", [
                {
                    title: "上级菜单",
                    name: "pid",
                    type: "treeSelect",
                    dict: "system_router,id,name,pid",
                    placeholder: '请选择上级菜单,可不选'
                },
                {title: "菜单图标", name: "face", type: "icon"},
                {title: "权限名称", name: "name", type: "input", placeholder: "请输入权限名称"},
                {title: "权限路径", name: "path", type: "input", placeholder: "请输入菜单别名或权限路径"},
                {title: "显示排序", name: "rank", type: "input", placeholder: "请输入排序编号", default: 0},
                {title: "权限类型", name: "type", type: "radio", dict: "system_menu_type"},
                {title: "状态", name: "status", type: "switch", text: "启用"}
            ], res => {
                treeTable.render(tableInstance);
            }, values);
        }

        //渲染菜单表格
        tableInstance = treeTable.render({
            elem: '#admin-menu-list',
            url: '/system/menu/getMenus',
            icon_key: 'name',
            is_checkbox: true,
            primary_key: 'id',
            parent_key: 'pid',
            cols: [
                {
                    key: 'name',
                    title: '菜单名称',
                    template: function (item) {
                        if (item.level == 0) {
                            return '<span style="">' + item.name + '</span>';
                        } else if (item.level == 1) {
                            return '<span style="color:green;">' + item.name + '</span>';
                        } else if (item.level == 2) {
                            return '<span style="color:#aaa;">' + item.name + '</span>';
                        }
                    },
                    align: 'center'
                },
                {
                    key: 'path',
                    title: '路由',
                    align: 'center'
                },
                {
                    key: 'face',
                    title: '图标',
                    align: 'center',
                    template: function (item) {
                        return '<i class="layui-icon ' + item.face + '"></i>';
                    }
                },
                {
                    key: 'status',
                    title: '状态',
                    align: 'center',
                    template: function (item) {
                        return item.status === 1 ? '<span style="color: #3cbd74;">启用</span>' : '<span style="color: red;">关闭</span>';
                    }
                },
                {
                    key: 'type',
                    title: '类型',
                    align: 'center',
                    template: function (item) {
                        return item.type === 0 ? '<span style="color: #ff98e4;">菜单</span>' : '<span style="color: #8376ff;">按钮/权限</span>';
                    }
                }, {
                    key: 'rank',
                    title: '排序',
                    align: 'center'
                },
                {
                    title: 'handle',
                    align: 'center',
                    template: function (item) {
                        return '<button class="layui-btn layui-btn-normal layui-btn-xs edit" data-id="' + item.id + '"><i class="fa fa-edit"></i> 修改</button>';
                    }
                }
            ],
            end: e => {
                hex.setIdMap(e.data);
                form.render();

                $('#system-menu .edit').click(function () {
                    modal(hex.getIdMap(hex.getObjectId(this)));
                });
            }
        });

        $('#system-menu .create').click(() => {
            modal();
        });

        $('#system-menu .del').click(() => {
            hex.deleteBatchEntity('/system/menu/delMenu', treeTable.checked(tableInstance), res => {
                treeTable.render(tableInstance);
            })
        });

        form.render();
    });
</script>